html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	/*color: #000;*/
	text-decoration: none;
}
h1, h2,h3,h4,h5,p,a{
	font-family: 'Franklin Gothic';
}




.head-of-page{
	background: linear-gradient(to top, white -11%, #202033 80%);

}
body{
	background: #e7e8ea;
}

.wrap{
	width: 80%;
	margin: 0 auto;
}
.logo{
	padding-left: 43px;
	width: 20%;
	position: relative;
}
.logo, .navigation{
	display: inline-block;
}
.logo img, .logo h1, .logo p{
	color: #fff;
	display: inline-block;
}
.logo img{
	position: absolute;
	top: 7px;
	left: 0;	
	height: 40px;
}
.logo h1{
	line-height: 50px;
	font-size: 39px;
	text-transform: capitalize;
}
.logo p{
	font-size: 17px;
	padding-left: 44px;
}
.navigation{
	width: 68%;
	margin-left: 6%;
}
.navigation li{
	padding-right: 4%;	
	line-height: 67px;
	float: left;
	font-size: 20px;
}
.navigation ul li a{
	color: #d7d7e3;
	text-transform: capitalize;
	padding: 5px;
	border-radius: 5px;
	transition: .5s;
}
.navigation ul li a:hover{
	color: #1f1f31;
	background: #d7d7e3;
}


.slide{
	margin-top: .7% ;
}
.slide .text-block, .slide a{
	display: inline-block;
}
.slide .text-block{
	width: 49%;
	padding-right: 3%;
	box-sizing: border-box;
	text-align: right;
	float: left;
	height: 100%;
}
.text-block h1{
	font-size: 45px;
	color: #e7e8ea;
	padding: 10% 0 1.5% 0;
	text-transform: uppercase;
	font-weight: 900;
}
.text-block h2{
	font-weight: 100;
	font-size: 39px;
	color: #d7d7e3;
	margin-bottom: 15px;
}
.text-block p{
	color: #fff;
	font-size: 20px;	
	margin-bottom: 20px;
}
.text-block p span{
	width: 100%;
  display: block;
}
.btn{
	display: inline-block;
    border-radius: 7px;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(to top, #255dac 40%, #2D6BC2 80%);;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;
    z-index: 10;
}
.slider1 .slide .text-block a{
    width: 200px;
	/*box-shadow: 0px 55px 5px -23px black;*/
}
.slider1 .slide .text-block a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0px;
    border: 6px solid transparent;
    border-radius: 50%;
    z-index: 9;
    box-shadow: 0px 39px 7px 3px rgba(0,0,0,.3);
}
.slider1 .slide a{
 	width: 49%;
}
.slider1 .slick-prev{
	left: 50px;
	background-image: url(img/left-arrow.png);
}
.slider1 .slick-prev::before {
  content: '';
}
.slider1 .slick-next{
	background-image: url(img/right-arrow.png);
	right: 50px;
}
.slider1 .slick-next:before {
  content: '';
}
.slider1 .slick-prev, .slick-next {
	width: 39px;
	height: 39px;
	z-index: 10;
}
.slider1 .slick-prev:hover, .slick-prev:focus{
	background-image: url(img/left-arrow.png);
}
.slider1 .slick-next:hover, .slick-next:focus{
	background-image: url(img/right-arrow.png);
}
.slider1 .slide, .texr-block, .slide a{
	outline: none;
}
.slider1 .slick-dots{
	display: none;
}



.our-proposition{
	display: flex;
  justify-content: space-between;
}
.card{
	width: 20%;
	text-align: center;
	color: #8c8c92;
	background: linear-gradient(to top, #e3e2e2 5%, white 80%);
	border: 3px solid #fff; 
}
.card h3{
	padding-top: 7px;
}


.inform-block{
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
}
.inf-text-block{
	width: 30%;
	text-align: justify ;
}
.inf-text-block > p{
	color: #505050;
}
.head-of-block img,.head-of-block h3, .head-of-block p {
	display: inline-block;
}
.head-of-block img{
	width: 33px;
	float: left;
}
.head-of-block {
	margin-bottom: 15px;
	height: 35px;
}
.head-of-block h3, .head-of-block p{
	width: 87%;
	float: right;
	line-height: 18px;
}
.head-of-block h3{
	font-size: 25px;
	color: #505050;
}
.head-of-block p{
	font-size: 15px;
	color: #5f7390;
}
.inf-style-p{
	font-size: 14px;
	color: #505050;
}


.sliders{
	margin: 3% 0;
}
.sliders .slick-prev{
	left: 300px;
	z-index: 2;
	/*background-image: url(img/left-arrow.png);*/
}
.list{
	font-size: 16px;
	color: #828181;
	line-height: 25px;
	text-align: center;
}
.list span{
	color: #687b96;
}
.sliders .slick-next{
	/*background-image: url(img/right-arrow.png);*/
	right: 300px;
	z-index: 2;
}
.sliders .slick-prev:hover, .slick-prev:focus{
	background-image: none;
}
.sliders .slick-next:hover, .slick-next:focus{
	background-image: none;
}




.product{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.product h1{
	flex-basis: 100%;
	width: 100%;
	font-size: 27px;
	color: #505050;
	text-align: center;
	position: relative;
}

.left-block{
	width: 40%;
	flex-basis: 40%;
}
.right-block{
	width: 57%;
	box-sizing: border-box;
	padding: 4% 0 0 3%;
	flex-basis: 57%;
}
.right-block > a{
	display: inline-block;
	width: 30%;
	height: 40px;
	font-size: 19px;
	line-height: 40px;
	margin: 3% 7% 7% 0;
}
.product h1::after{
	content: 'Lorem ipsum simply dummy';
	position: absolute;
	top: 30px;
	left: 40%;
	transform: translateX(-62%);
	color: #5f7390;
	font-size: 15px;
}
.prod ul{
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	height: 170px;
}
.prod ul a{
	position: relative;
	color: #828181;
	font-size: 15px;
}
.prod ul a::before{
	content: url(img/productBullet.png);
	position: absolute;
	top: 0;
	left: -30px;
}





.news-acordion{
	margin-bottom: 20px;
}
.news-acordion *{
	cursor: default;
}
.news-acordion ul li{
	padding: 7px 0;
	border-bottom: 1px solid #d7d8da;
	transition: .5s;
}
.news-acordion ul li::first-child{
	border-top : 1px solid #d7d8da;
}
.news-title.active + .news-text-block{
	opacity: 1;
	transition: .5s;
	height: 20px;	
}
.news-title.active > .plus .plus2line {
    transform-origin: center;
    transform: rotateZ(45deg);
}
.news-title.active > .plus .plus1line {
    transform: translateX(-50%) rotate(-45deg);
}
.news-title{
	position: relative;
	padding-left: 33px;
}
.plus{
	position: absolute;
	top: 0px;
	left: 0;
	width: 25px;
	height: 25px;
	background: #d7d8da;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.plus1line, .plus2line{
	width: 9px;
	height: 2px;
	display: block;
	background: #333;
	position: absolute;
	top: 50%;
	transform-origin: center;
	transform: translateX(-50%);
	transition: .5s;
}
.plus1line{
	left: 50%;
}
.plus2line{
	transform-origin: center;
	transform: rotateZ(90deg);
}


.news-text-block{
	transition: .5s;
	height: 0px;
	opacity: 0;
	display: block;
	margin-top: 9px;
}




footer{
	background: radial-gradient(400px 600px, #515165, #363648);
}
.twitts-block{
	border-bottom: 1px solid #515164;
	padding: 15px 0;
}
.twitts-block a, .twitt-text{
	display: inline-block;
}
.twitts-block a{
	float: left;
}
.twitt-text{
	width: 85%;
}
.twitts-block p{
	padding-left: 7%;
	line-height: 30px;
	color: #a1a1ab;
}
.twitts-block p:last-child{
	font-style: italic;
	text-align: right;
	color: #b5b5bd;
	padding-right: 10%;
}



.feedback{
	position: relative;
}
.feedback input{
	background: #242439;
	border-radius: 7px;
	border-top: 1px solid #12121d;
	border-left: 1px solid #12121d;
	border-right: 1px solid #4e4e5d;
	border-bottom: 1px solid #4e4e5d;
	padding-left: 5px;
	color: #a1a1ab;
}
.feedback input:focus{
	outline: 1px solid transparent;
}
.feedback button{
	height: 27px;
	border-radius: 7px;
	border: 1px solid #e7e8ea;
	width: 87px;
	background: #e7e8ea;
	margin-left: 10px;
	color: #363648;
}
.feedback h1{
	font-size: 25px;
	color: #fff;
	padding: 2% 0;
}
.feedback p{
	
	color: #a6a6ae;
}
.newsletter input{
	height: 27px;
}
.newsletter p{
	padding-bottom: 3%;
}
.newsletter, .contact-form{
	display: inline-block;
	max-width: 49%;
}
.soc-connect a{
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 15px 7px;
}
.soc-connect a:first-child{
	margin-left: 0;
}
.soc-connect a img{
	width: 100%;
}
.contact-form{
	float: right;
}
.left-block-contact, .right-block-contact{
	display: inline-block;
}
.left-block-contact{
	width: 50%;
}
.left-block-contact input{
	width: 100%;
	height: 24px;
	margin-bottom: 7px; 
}
.right-block-contact{
	width: 49%;
    height: 93px;
    float: right;
}
.right-block-contact textarea{
	width: 93%;
    height: 100%;
    float: right;
    text-align: start;
    background: #242439;
	border-radius: 7px;
	border-top: 1px solid #12121d;
	border-left: 1px solid #12121d;
	border-right: 1px solid #4e4e5d;
	border-bottom: 1px solid #4e4e5d;
	padding-left: 5px;
	color: #a1a1ab;
}
.right-block-contact textarea:focus{
	outline: 1px solid transparent;
}
.contact-form button{
	float: right;
	margin-top: 10px;
}
.copyright{
	position: absolute;
	bottom: 20px;
	font-size: 13px;
	width: 100%;
	text-align: center;
}